@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

*{
    font-family: 'Poppins';
}

body{
    overflow-x: hidden;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 3%;
}